################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Assets/.vs
/.vs/AnotherMe
/Logs
/obj/Debug
/Packages
/Temp
/UserSettings
*.meta
/Assets/GameSettings.txt
/Assets/GameSave.txt
/Library
